.notification {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error_message {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.parent {
    width: 100%;
    display: flex;
}

.child1{
    width: 100%;
    margin: auto;
}

.child2{
    width: 270px;
}

.parent_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh; 
}

.parent_login_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh; 
}

.loginh2{
    text-align: center;
    color: #83677B;
} 